<div class="posts-list-container center-container">
	<h2 class = "heading" style="width: 190px";>Create New Post</h2>

	<%= form_for @post, remote: true do |f| %>
		<%= f.label :content, "New Post" , id: 'newpostheading'%>
		<%= f.text_field :content , id: 'newpostinput'%>

		<%= f.submit 'Create Post' ,  id: 'newpostsubmit'%>
	<% end %>

	
	<h2 class = "heading" style="width: 97px;">All Posts</h2>

		<ul id = "All-Posts">
		<% @p.each do |p| %>
			<%= render "post", post: p %>
		<% end %>
		</ul>
		
		
</div>

<!-- <script type="text/javascript">
	initialScroll = 0;
	$(window).scroll(function(){
		if (window.scrollY > initialScroll + 500 ){
			console.log('fired')
			console.log($.getScript($('.pagination .next_page').attr('href')))
			initialScroll = window.scrollY;
		}
	});

</script>>
 -->










